@use 'mixins' as *;

.heading {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-block: 32px 24px;

  @include tablet {
    padding-block: 56px 32px;
  }
}

.title {
  width: min(320px, 70%);
  height: 34px;

  @include tablet {
    height: 52px;
  }
}

.subtitle {
  width: min(480px, 90%);
  height: 20px;
}
