@use 'mixins' as *;

.nav {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-shrink: 0;
}

.login {
  color: var(--color-text-muted);
  font-size: 14px;
  font-weight: 500;
  transition: color var(--transition);

  &:hover {
    color: var(--color-text);
  }

  @include mobile-only {
    display: none;
  }
}
