@use '../../styles/mixins' as *;

.heading {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.title,
.subtitle {
  border-radius: var(--radius-sm);
  background: var(--color-surface);
}

.title {
  width: min(320px, 70%);
  height: 34px;

  @include tablet {
    height: 52px;
  }
}

.subtitle {
  width: min(480px, 90%);
  height: 20px;
}
